<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="SupportConnection" connectionString="Data Source=DESKTOP-NPL6QM5;Database=QLDSV_TC ;Persist Security Info=True;User ID=HTKN; password=123456" providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>