<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="SupportConnection" connectionString="Data Source=HIENM4;Database=QLDSV_TC ;Persist Security Info=True;User ID=sa; password=123456" providerName="System.Data.SqlClient" />
  <add name="StudentManagement.Properties.Settings.QLDSV_TCConnectionString" connectionString="Data Source=WINDOWS-A251ALV;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
 <add name="Model1" connectionString="data source=WINDOWS-A251ALV;initial catalog=QLDSV_TC;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>